# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# User-specific files
.DS_Store
lib
bin

# slab files in zip, don't want to readd them
slab*.txt


